
/*Invoice style */
.invoiceList{
    display: flex;
    width : 100%;
}

.invoice{
    height: 100vh;
    width : 100%;

}

.invoiceContainer {
    display: flex;
    align-items: center;
  }
  
  .invoiceImage {
    margin-right: 10px;  /* Adjust spacing as needed */
  }
  
  .invoiceText {
    flex: 1;  /* Makes the text container flexible */
  }
  
  .invoiceTab {
    padding-left: 20px;  /* Adjust padding for the tab effect */
    color : #515151;
  }

.invoicetable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;  /* This will make columns take equal space */
  }

  .invoicetable-cell {
    max-width: 150px; /* Adjust based on your needs */
    word-wrap: break-word; /* Ensures text wraps within the cell */
    white-space: normal; /* Allows text to wrap */
}
  
.invoiceth, .invoicetd {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px 16px;  /* Increase padding to add space between columns */
  }
  
  .invoiceth {
    background-color: #f2f2f2;
  }

  .invoiceoption:hover {
    background-color: rgb(226, 226, 226);
    transform: translateY(-3px);
}
  .invoiceoption{
    padding: 12px 20px;
    border-radius: 12px;
    border-radius: 8px;
    border-color: rgb(0, 27, 148);
    background-color: rgb(255, 255, 255); /* Red background */
    color: rgb(0, 27, 148);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

  }
  
/*end invoice style*/